<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
       <section id="hypermage_catalog_product_list" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog Product List</label>
            <tab>hypermage</tab>
            <resource>Hypermage_BlockCatalogProductListToolbar::configuration</resource>
            <group id="toolbar" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Toolbar</label>
                <field id="use_boost" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Boost</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
